*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    position: relative;
}

.slide{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.item{
    width: 50vw;
    height: 50vh;
    display: none;
}

.img-slide{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item .show{
    display: block;
}

.hidden{
    display: none;
}

.prev{
    position: absolute;
    top: 0;
    left: 45%;
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.5);
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

.next{
    position: absolute;
    bottom: 0;
    left: 45%;
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.5);
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

.show{
    display: block;
}